
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color:#212529; color:white">
                        <h1 class="card-title" style="text-align:center">Toy Management</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th colspan="3">
                                        <form action="/search" method="post">
                                            <div class="input-group">
                                                <input class="form-control" type="search" name="toys_name"
                                                    placeholder="Search by name">
                                                <button class="btn btn-primary"
                                                    style="background-color: #212529; width: 127px; border:0"
                                                    type="submit">Search</button>
                                            </div>
                                        </form>
                                    </th>
                                    <th class="dropdown" colspan="">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                            style="color:#212529;background-color:white;border:0; font-weight:bold ">
                                            Sort By Price
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                                            <li><a class="dropdown-item" href="/sort/hight">High to Low</a></li>
                                            <li><a class="dropdown-item" href="/sort/low">Low to High</a></li>
                                        </ul>
                                    </th>
                                    <th style="width:125px">
                                        <div class="d-flex justify-content-between">
                                            <a class="btn btn-primary"
                                                style="background-color:#212529; border:0;width:auto"
                                                onmouseover="this.style.backgroundColor='green'"
                                                onmouseout="this.style.backgroundColor='#212529'"
                                                href="/girl">Girl</a>
                                            <a class="btn btn-primary"
                                                style="background-color:#212529; border:0;width:auto"
                                                onmouseover="this.style.backgroundColor='green'"
                                                onmouseout="this.style.backgroundColor='#212529'" href="/boy">Boy</a>
                                        </div>
                                    </th>
                                    <th style="width:120px; text-align:center">
                                        <a class="btn btn-primary" href="/addToy"
                                            style="background-color:#212529 ;border:0px;width:120px">+
                                            NEW</a>
                                    </th>
                                </tr>
                                <tr style="text-align:center">
                                    <th>NAME</th>
                                    <th>YEAR</th>
                                    <th>COUNTRY</th>
                                    <th>IMG</th>
                                    <th>PRICE</th>
                                    <th>GENDER</th>
                                    <th>ACTION</th>
                                    
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                {{#each Toys}}
                                <tr>
                                    <td>{{toys_name}}</th>
                                    <td>{{toys_year}}</td>
                                    <td>{{toys_country}}</td>
                                    <td><img src="{{ toys_image}}" width="100" height="100"></td>
                                    <td>{{toys_price}}$</td>
                                    <td>{{toys_gender}}</td>
                                    
                                    <td>
                                        <div class="row">
                                            <div class="col-6">
                                                <a class="btn btn-block btn-success" style="background-color: #212529;"
                                                 href="/editToy/{{_id}}"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                                            </div>
                                            
                                            <div class="col-6">
                                                <a class="btn btn-block btn-success" style="background-color: #212529;" href="/delete/{{_id}}"
                                                    onclick="return confirm('Do u wanna delete?');"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>