<section class="content" >
  <div class="container-fluid">
    <!-- /.row -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header" style="background-color:#212529; color:white">
            <h1 class="card-title" style="text-align:center">Customer Management</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th colspan="2">
                    <form action="/manage/searchCustomer" method="post">
                      <div class="input-group">
                        <input class="form-control" type="search" name="Fullname" placeholder="Search by name">
                        <button class="btn btn-primary" style="background-color: #212529; width: 127px;border:0"
                          type="submit">Search</button>
                      </div>
                    </form>
                  </th>
                  <th class="dropdown" colspan="">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown"
                      data-bs-toggle="dropdown" aria-expanded="false"
                      style="color:#212529;background-color:white;border:0; font-weight:bold ">
                      Sort
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                      <li><a class="dropdown-item" href="/manage/sort/noyoung">High to Low</a></li>
                      <li><a class="dropdown-item" href="/manage/sort/young">Low to High</a></li>
                    </ul>
                  </th>
                  <th></th>
                  <th style="text-align:center">
                    <a class="btn btn-primary" href="/manage/addCustomer" style="background-color:#212529 ;border:0px;width:83px"><i
                        class="fa fa-plus-square" aria-hidden="true"></i></a>
                  </th>

                </tr>
                <tr style="text-align:center">
                  <th>Email</th>
                  <th>Full Name</th>
                  <th>Age</th>
                  <th>Address</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody style="text-align:center">
                {{#each Login }}
                <tr style="text-align:center">
                  <td>{{Email}}</td>
                  <td>{{Fullname}}</td>
                  <td>{{Age}}</td>
                  <td>{{Address}}</td>
                  <td>
                    <a class="btn btn-danger" style="background-color:#212529;border:0px"
                      href="/manage/editCustomer/{{_id}}"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>

                    <a class="btn btn-danger" style="background-color:#212529;border:0px" href="/manage/deleteCustomer/{{_id}}"
                      onclick="return confirm('Do u wanna delete?');">
                      <i class="fas fa-trash-alt" aria-hidden="true"></i>
                    </a>
                  </td>

                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>